<!doctype html>
<html ng-app="app" ng-controller="timerController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geonunez.com</title>

    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>
    <div class="container">

        <audio id='beep'>
            <source src="content/snd/beep.mp3" type="audio/mpeg" /></source>
        </audio>

        <div id="timer" class="row">
            <program class="col-xs-2"></program>
            <clock class="col-xs-10"></clock>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Customize</button>
            </div>
            <div class="col-xs-3 col-xs-offset-7 col-lg-2 col-lg-offset-8">
                <button  ng-click="start()" type="button" class="btn btn-primary btn-lg">Start</button>        
                <button  ng-click="stop()" type="button" class="btn btn-danger btn-lg">Stop</button>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Customize CrossTimer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Select a program</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" id="program1" ng-click="changeProgram(1)">Up</a></li>
                                <!--<li><a href="#" id="program2" ng-click="changeProgram(2)">Down</a></li>-->
                                <li><a href="#" id="program3" ng-click="changeProgram(3)">Intervals</a></li>
                            </ul>
                        </div>
                        <!-- UP -->
                        <div id="up">
                            <h4>Up</h4>
                            <div class="input-group">
                              <span class="input-group-addon">Up to:&nbsp;</span>
                              <select class="form-control" ng-model="maxMinutes">
                                  <option ng-repeat="minute in oMinutes">{{minute}}</option>
                              </select>
                              <span class="input-group-addon">:</span>
                              <select class="form-control" ng-model="maxSeconds">
                                  <option ng-repeat="second in oSeconds">{{second}}</option>
                              </select>
                            </div>
                        </div>

                        <!--<div id="down">
                            <span>Downtime:</span>
                            <input type="text">
                            <span>in minutes</span>
                        </div>-->

                        <div id="intervals"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function(){
        //$('#down').hide();
        $('#intervals').hide();

        $('#program1').click(function(){
            $('#up').show();
            $('#down').hide();
            $('#intervals').hide();
        });

        /*$('#program2').click(function(){
            $('#up').hide();
            $('#down').show();
            $('#intervals').hide();
        });*/

        $('#program3').click(function(){
            $('#up').hide();
            $('#down').hide();
            $('#intervals').show();
        });

        $('#beep')[0].play();
    });
    </script>

</body>
</html>